/* Checkbox */

.checkbox {
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;*/
  
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  
  &-label {
    position: relative;
  
    display: block;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  &__icon {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid $primary-text-color;
    margin-right: 8px;
  }
  
  &:checked + &__icon {
    border-color: $accent-color;
    fill: $primary-white-color;
    background-color: $accent-color;
    /*background-image: url(../images/form-check.svg);*/
    background-size: contain;
    background-origin: border-box;
  }
  
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $benefits-color;
  }
  
  &__contract a {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $accent-color;
  }
  
  &__check {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 16px;
    height: 15px;
    transform: translateY(-50%);
  }
}